
  <div class="bv-section-condor" id="condor" >
    <div class=" bv-orange-condor">
      <div class="container "><img class=" bv-logo-condor " src="{{site.img}}/pages/condor/condor.svg"></div>

    </div>
    <div class="container vpad--xxl text--left text--xxl ">

      <div class="bob ">
      <div class="bob__img">
        <a href="http://bit.ly/2ShX45Y" target="_blank">

          <div class="img img--3-2 bv-img-condor" style="background-image: url('{{site.img}}/pages/condor/condor.jpg'); ">
             <div class="bv-badge-condor h h--xs text--bold " style="letter-spacing:0.5px!important; line-height:1em; padding:8px 0 2px 0;">
              <span class="p text--normal p--xl">ab</span><br>89,<span class="h text--bold h--xs">99€</span>
              <br><div class="p text--normal p--xxl" style="line-height: 0.9em;">one-way</div>
            </div>
          </div>
        </a>
      </div>
      <div class="space--md"></div>
      <div class="bob__text p p--md">
        <div class="h h--md text--bold">Sommerverlängerung in 5 Stunden</div>
        <p>Fliegen Sie mit Condor in knapp 5 Stunden von vielen deutschen Flughäfen direkt nach Madeira - und legen noch am selben Tag Ihr Strandtuch aus. Den Schutzmaßnahmen von Condor sei Dank bleiben Sie auch über den Wolken sicher.</p>
          <div class="space--lg"></div>
        <a href="https://www.condor.com/de/fluege/spanien/gran-canaria/" target="_blank" class="btn btn--condor condor-text condor-text--bold" >Flug finden</a>



      </div>

    </div>
  </div>

</div>
