<a id="track-partner-logo{{include.placement | prepend: '-'}}" target="_blank" class="logo logo--partner{% if include.small %} logo--partner-sm{% endif %}" href="{{site.partner.link}}">
  <img src="{{site.img}}/logo/partner.svg" alt="{{site.partner.name}} Logo">
</a>
<a id="track-partner-logo{{include.placement | prepend: '-'}}" target="_blank" class="logo logo--partner{% if include.small %} logo--partner-sm{% endif %}" href="https://www.condor.com/de/entdecken/specials/madeira.jsp?utm_source=secret_escapes&utm_medium=aff&utm_campaign=secret_escapes_fva_other_other_na_eu_other_other_destination&utm_term=b2c_na_na_na_na&utm_content=microsite_other_madeira-fnc_co-ci_sh">
  <img src="{{site.img}}/logo/condor.svg" alt="{{site.partner.name}} Logo">
</a>
